.git
.gitignore
.vs
.vscode
**/bin
**/obj
**/.DS_Store
**/*.user
**/*.suo
**/*.swp
**/*.log
build-output.txt
build-web-output.txt
build-web-output-8.txt
seo-build-output.txt
sqlite-web-build.txt
web-build.log
.run-web.out.log
.run-web.err.log
.run-web-dev.out.log
.run-web-dev.err.log
